@import "tailwindcss";

.app {
  text-align: center;
}

.board {
  position: relative;
  width: 100%;
  max-width: 500px;
}

.board:after {
  content: "";
  display: block;
  padding-bottom: calc( (9 / 6) * 100% ); /* height/width ratio */
}

.content {
  width: 100%;
  height: 100%;
}

.board-row {
  height: calc(100% / 9); /* 9 rows */
}

.square {
  width: calc(100% / 6); /* 6 columns */
}

.square-middle {
  background-color: #fbefdf;
  border: solid #203542 1px;
}

.square-home-row {
  background-color: #203542;
  border: solid #fbefdf 1px;
}

.square-selected {
  background-image: linear-gradient(
          to right,
          rgba(255, 0, 0, 0.5),
          rgba(255, 0, 0, 0.5)
  );
}

.square-valid {
  background-image: linear-gradient(
          to right,
          rgba(0, 255, 0, 0.5),
          rgba(0, 255, 0, 0.5)
  );
}

.square-previous {
  background-image: linear-gradient(
          to right,
          rgba(255, 255, 0, 0.5),
          rgba(255, 255, 0, 0.5)
  );
}

.cube {
  height: 80%;
  width: 80%;
  margin: 10%;
}
